body {
    background-color: rgb(249, 249, 249);
    --links: #6e00ec;
}
table {
    border: 1px solid rgb(208, 208, 208);
    border-radius: 3px;
}
pre {
    white-space: pre-wrap;
}
code {
    opacity: 0;
    transition: opacity 1s;
    font-size: 1.1em;
}
input {
    display: inline-block;
    width: 50%;
}
button {
    display: inline-block;
}
.incorrect {
    color: var(--links);
}
#inference-text {
    display: none;
}
#tester {
    display: none;
}